<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">Girlfriend on the Go</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <div ngbDropdown class="d-inline-block dropdown">
                    <a class="btn btn-neutral btn-round" id="dropdownBasic1" ngbDropdownToggle>Deals</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                        <a [routerLink]="['/deals']" class="dropdown-item">View Deals</a>
                        <a [routerLink]="['/deals']" class="dropdown-item">Submit a Deal</a>
                    </div>
                </div>
                <div ngbDropdown class="d-inline-block dropdown">
                    <a class="btn btn-neutral btn-round" id="dropdownBasic1" ngbDropdownToggle>Partnerships</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                        <a [routerLink]="['/deals']" class="dropdown-item">Become a Partner</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a [routerLink]="['/about']" class="nav-link" rel="tooltip" title="" data-placement="bottom" target="_self">
                        <i class=""></i>
                        <p>About Gogo</p>
                    </a>
                </li>
                <li class="nav-item">
                        <a [routerLink]="['/signup']" class="nav-link" rel="tooltip" title="" data-placement="bottom" target="_self">
                            <i class=""></i>
                            <p>Signup</p>
                        </a>
                </li>
                
                
            </ul>
        </div>
    </div>
</nav>
