<div class="page-header" data-parallax="true">
    <div class="splash-div"></div>
    <div class="card">
            <img src="./assets/img/faces/nails.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4> 
              <p>Architect & Engineer</p> 
            </div>
    </div>
    <div class="container">
        <div class="motto text-center">
            <h1>Girlfriend on the Go</h1>
            <div>
                <h3 class="quotes">Discover the Best Beauty Deals</h3>
                <h3 class="quotes">Find Beauty Deals, Whenever, Wherever</h3>
                <h3 class="quotes">Where Girl Meets Beauty Fairy Godmother</h3>
            </div>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Deals, Deals and More Deals!</h2>
                <h5 class="description">Explain Deals, encourage submissions.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Deals</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-tag-content"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Deals</h4>
                        <p class="description">We curate the best nail, hair, makeup and wellness deals brought to you by top beauty professionals.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-money-coins"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Price</h4>
                        <p>We’re all about looking good on a budget. Save up to 40% on all beauty deals.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-pin-3"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Location</h4>
                        <p>Wherever you are, we are. We partner with beauty professionals in your area to provide you with the best products and services.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="section subtitles-div">
</div>
<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/chidimma-nwankwo.png" alt="..." class="float-right"></a>
                    </div>
                    <div class="card-block text-center">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Chidimma Nwankwo</h4>
                                <h6 class="card-category">Co-Founder & Head Beauty Officer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            I love beauty and wanted to create a space for women of all shades and styles to find the best products and services the beauty industry had to offer. & because no one says no to a good deal, I thought giving women the opportunity to try new things at a discounted price was genius.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/TimewithChi" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/timewithchi/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/chidimmanwankwo" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-profile card-plain text-left">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/camille-camejo.png" alt="..." ></a>
                    </div>
                    <div class="card-block text-center">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Camille Camejo</h4>
                                <h6 class="card-category">Co-Founder & Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Any space that welcomes women while providing easier and more accessible opportunities to discover their beauty within is a space that I will always root for. Developing such a space was a gift and now the gift is yours, these deals are for you!    
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/camillecamejo" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/camillecamejo" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                        <a href="https://linkedin.com/in/camille-camejo" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Contact Gogo!</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.splash-div {
    width: 200px;
    height: 200px;
    background-color:coral;
    animation: square-to-circle 2s 1s infinite alternate;
  }

.subtitles-div::before {
    background-color: purple;
    animation: subtitles 3s 1s infinite alternate;
}

@keyframes square-to-circle {
    0%{
        border-radius:0 0 0 0;
        background: coral;
        transform:rotate(0deg);
    }
    25%{
        border-radius:50% 0 0 0;
        background: darksalmon;
        transform:rotate(45deg);
    }
    50%{
        border-radius:50% 50% 0 0;
        background: indianred;
        transform:rotate(90deg);
    }
    75%{
        border-radius:50% 50% 50% 0;
        background: lightcoral;
        transform:rotate(135deg);
    }
    100%{
        border-radius:50%;
        background: darksalmon;
        transform:rotate(180deg);
    }
  }

@keyframes subtitles {
    0%{
        color:black;
        content: "Discover the Best Beauty Deals";
    }
    25%{
        color: white;
    }
    50%{
        color:black;
        content: "Find Beauty Deals, Whenever, Wherever";
    }
    75%{
        color:black;
        color: white;
    }
    100%{
        color:black;
        content: "Where Girl Meets Beauty Fairy Godmother";
    }
}
</style>