<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li style="float: right; display:block;"><a href="#">Blog</a></li>
                    <li style="float: right; display:block;"><a href="#">FAQ</a></li>
                    <li style="float: right; display:block;"><a href="#">Terms of Use</a></li>
                    <br>
                    <li style="display:block;"><a href="#">Partnerships</a></li>
                    <li style="display:block;"><a href="#">About</a></li>
                    <li style="display:block;"><a href="#">Careers</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>
